*,
*::before,
*::after {
    box-sizing: border-box; /* putting a width in a width making it easier for styling*/
}

:root {
    --font1: 'Source Sans Pro', sans-serif;
    --font2: 'Source Code Pro', monospace;

    --font-weight: 300;
    --font-bold: 900;

    --backgroun-clr1: #fff;
    --text-clr1: #303030;

    --font-h1: 3rem;
    --font-h2: 2.25rem;
    --font-h3: 1.25rem;
    --font-body: 1rem;
}