*,
*::before,
*::after {
    box-sizing: border-box; /* putting a width in a width making it easier for styling*/
}

:root {
    --font1: 'Source Sans Pro', sans-serif;
    --font2: 'Source Code Pro', monospace;

    --font-weight: 300;
    --font-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --font-h1: 3rem;
    --font-h2: 2.25rem;
    --font-h3: 1.25rem;
    --font-body: 1rem;
}

@media (min-width: 800px) {     /*with change of screen size, font size will change too*/
    :root {
        --font-h1: 4.5;
        --font-h2: 3.75rem;
        --font-h3: 1.5rem;
        --font-body: 1.125rem;
    }
}

/* General Styles*/

body {
    background: var(--clr-light);
}