*,
*::before,
*::after {
    box-sizing: border-box; /* putting a width in a width making it easier for styling*/
}

:root {
    --font1: 'Source Sans Pro', sans-serif;
    --font2: 'Source Code Pro', monospace;

    --font-weight: 300;
    --font-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --font-h1: 3rem;
    --font-h2: 2.25rem;
    --font-h3: 1.25rem;
    --font-body: 1rem;
}

@media (min-width: 800px) {     /*with change of screen size, font size will change too*/
    :root {
        --font-h1: 4.5rem;
        --font-h2: 3.75rem;
        --font-h3: 1.5rem;
        --font-body: 1.125rem;
    }
}

/* General Styles*/

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--font1);
    font-size: var(--font-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--font-h1); }
h2 { font-size: var(--font-h2); }
h3 { font-size: var(--font-h3); }